# compiled files
*.pyc
*.o
*.so

# numpy data
*.npy
*.npz

# vim swapfiles
*.swp

# rope code refactoring
.ropeproject

# generated images
*.png

# generated logfiles
*.log

# backup files
*.bak

# coverage report
.coverage
coverage.xml
htmlcov/
