import pyhalbe
from pyhalco_common import Enum
from pyhalco_hicann_v2 import Wafer, HICANNOnWafer
from pycake.helpers.units import linspace_voltage, Current, Voltage
import os
from itertools import product

np = neuron_parameter = pyhalbe.HICANN.neuron_parameter
sp = shared_parameter = pyhalbe.HICANN.shared_parameter


def pproduct(paramters, ranges):
    return [dict(zip(paramters, step)) for step in product(*ranges)]

from fastcalibration_parameters import parameters

folder = "/home/koke/test_calib"

custom = {
        "filename_prefix":  "test_I_gl",

        "E_l_range":      pproduct((np.E_l, np.I_gl), (
            linspace_voltage(550, 850, 6),
            [Current(v) for v in (40, 80, 120, 240, 480, 960)])),
        "run_E_l":        True,

        # Set whether you want to keep traces or delete them after analysis
        "save_traces":  False,

        # Where do you want to save the measurements (folder) and calibration
        # data (backend)
        # Folders will be created if they do not exist already
        "folder":       folder,
        "backend":      os.path.join(folder, "backends"),

        # Wafer and HICANN coordinates
        "coord_wafer":  Wafer(),
        "coord_hicann": HICANNOnWafer(Enum(276)),

        "E_l_parameters": {
            neuron_parameter.V_t:        Voltage(1200),
            neuron_parameter.E_syni:     Voltage(600, apply_calibration=True),
            neuron_parameter.E_synx:     Voltage(800, apply_calibration=True),
            shared_parameter.V_reset:    Voltage(500, apply_calibration=True),
        },
}
parameters.update(custom)

